/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --light-gray: rgba(236, 236, 236, 0.705);
  --black: rgb(17, 17, 17);
  
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* preventing scroll down from moving content to the left */
  width: calc(100vw - 34px);
  background-color: white;
  width: 100%;
  height: 100vh;
}

body .dark-mode {
 background-color: rgb(68, 68, 68);
}

.collapsable-content {
  margin-top: 0.4rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.wrapper {
  width: 1000px;
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
}

.flex-container {
  /* margin-bottom: 1em;
  margin-top: 0.3em;
  display: flex;
  padding: 1em;
  background-color: rgba(236, 236, 236, 0.705);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; */
}

.flex-container-row {
  flex-direction: row;
}

.flex-container-item {
  margin: 0.2em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.849);
  border: 2px solid rgb(190, 190, 190);
  min-width: 200px;
  min-height: 80px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.flex-container-item-button {
  margin: 0.2em;
  background-color: rgba(255, 255, 255, 0.849);
  width: 30%;
  min-width: 250px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.flex-container-item-button button {
  width: 100%;
  text-align: left;
}

.table {
  width: 50%;
}

.table td {
  padding: 0.2rem;
}

.flex-container-item-flex {
  display: flex;
}

.flex-container-column {
  flex-direction: column;
}

.wider {
  width: 300px;
}

.width-half {
  width: 40%;
}

.width-halft .custom-range {
  width: 50%;
}

.state {
  /* border: 1px solid rgb(255, 0, 212); */
  font-weight: bold;
  font-size: 1.1rem;
}

.state-on {
  color: green;
}

.state-off {
  color: rgb(196, 4, 4);
}

/* .graph-container {
  max-width: 1500px;
} */

.row {
  flex-direction: column;
}

.custom-control-label:hover {
  cursor: pointer !important;
}

.card-title {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-flex-content {
  justify-content: center;
  align-items: center;
}

 